<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/choice"></ion-back-button>
    </ion-buttons>
    <ion-title>Rent Details</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="main-container">
    <div class="row no-margin search-container">
      <div class="col-12 container-padding">
        <form [formGroup]="adrent" (ngSubmit)="onSubmit()">
          <div class="card">
            <div class="card-body">

              <div class="input-container">
                <label class="input-label">Expected Rent / Monthly</label>
                <div class="input-sec-semi"><i class="fa fa-inr" aria-hidden="true"></i>
                  <input type="number" class="form-control" formControlName="rentAmount" placeholder="Enter Amount" />
                  <div><span>/month</span></div>

                </div>
              </div>
              <div class="input-container">
                <label class="input-label">Expected Deposit</label>
                <div class="input-sec-semi"><i class="fa fa-inr" aria-hidden="true"></i>
                  <input type="number" class="form-control" formControlName="depositAmount" placeholder="Enter Amount" />
                  <div><span>Deposit</span></div>

                </div>
              </div>
              <div class="input-container toggle-container">
                  <label class="input-label">Rent Negotiable</label>
                  <span style="margin-left: 75px;">No</span><ion-toggle formControlName="rentNegotiable" mode="ios"></ion-toggle>
                  <span>Yes</span>
                </div>

              <ion-button expand="full" type="submit" shape="round">Save & Continue</ion-button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</ion-content>