
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/choice"></ion-back-button>
    </ion-buttons>
    <ion-title>Details</ion-title>
  </ion-toolbar>
 </ion-header>
<ion-content>
  <div class="main-container">
    <div class="row no-margin search-container">
      <div class="col-12 container-padding">
        <div class="card">
          <div class="card-body">
        
            <div class="input-container">
              <label class="input-label">Expected Rent / Monthly</label>
              <div class="input-sec-semi"><i class="fa fa-user-circle-o" aria-hidden="true"></i>
                <input type="number" class="form-control" placeholder="Enter Amount" />
                <div><span>/month</span></div>

              </div>
            </div>
            <div class="input-container">
              <label class="input-label">Expected Deposit</label>
              <div class="input-sec-semi"><i class="fa fa-user-circle-o" aria-hidden="true"></i>
                <input type="number" class="form-control" placeholder="Enter Amount" />
                <div><span>Deposit</span></div>

              </div>
            </div>
            <div class="input-container">
              <label class="input-label">Cupboard(s)</label>
              <div class="input-sec"><i class="fa fa-user-circle-o" aria-hidden="true"></i>
                <input type="number" class="form-control" placeholder="No. of Cupboard" />
              </div>
            </div>
            <ion-button expand="full" shape="round">Save & Continue</ion-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>