<div class="row no-margin land full-height">
    <div class="col-12 no-padding">
        <div class="row no-margin logo-container">
            <div class="col-12" style="display: flex;">
                <img class="rm_logo" src="../../../assets/images/roommate_logo.svg" />
            </div>
        </div>
   
        <div class="row no-margin choice-container  ">
            <div class="col-12">
                <div class="option-select">
                    <img src="../../../assets/images/search_new.svg" routerLink="/search" routerDirection="root" />
                    <div class="check"></div>
                </div>
            </div>
            <div class="col-12">
                <div class="option-select">
                    <img src="../../../assets/images/newpost.svg" routerLink="/postads" routerDirection="root" />
                </div>
            </div>
            <div class="col-12">
                <div class="option-select">
                    <img src="../../../assets/images/mypost.svg" routerLink="/mypost" routerDirection="root" />
                </div>
            </div>
        </div>
    </div>
</div>