<div class="row no-margin main-container full-height">
  <div class="col-12">
    <div class="option-select">
        <img src="../../../assets/images/search.png" routerLink="/search" routerDirection="root" />
        <div class="check"></div>
    </div>
  </div>
  <div class="col-12">
      <div class="option-select">
          <img src="../../../assets/images/post.png" routerLink="/postads" routerDirection="root" />
      </div>
  </div>
  <div class="col-12">
    <div class="option-select">
        <img src="../../../assets/images/post.png" routerLink="/mypost" routerDirection="root" />
    </div>
</div>
<div class="col-12">
    <div class="option-select">
        <img src="../../../assets/images/post.png" routerLink="/address" routerDirection="root" />
    </div>
</div>
</div>