/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.no-margin{margin: 0px !important;}
.no-padding{padding: 0px !important;}
.option-select {
    text-align: center;
    vertical-align: middle;
    align-content: center;
    display: flex;
    height: 100%;
    img{
        width: 150px;
    margin: auto;
    }
}
.main-container{background: #f7f5f5;    height: 100%;}
.full-height{height: 100%;}
.container-padding{padding:10px !important;}.input-container {
    margin-bottom: 1.2rem;
    ion-checkbox{
        
         --background-checked: rgb(66, 5, 146);
         --border-color: rgb(66, 5, 146);
         --border-color-checked :rgb(27, 3, 59);
       }
    ion-toolbar{
        background: linear-gradient(to right, #dc3545, #a11783) !important;
    }

    .form-control:focus {
        color: inherit;
        background-color: #fff;
        border-color: #737171;
        outline: 0;
        box-shadow: none;
    }
    .input-sec-semi {
        width: 100%;
        padding: 0px 0px 0px 2px;
        outline: none;
        border-radius: 51px;
        background: #fff;
        display: inline-flex;
        -webkit-box-align: center;
        align-items: center;
        border: 1px solid #ccc;
        i {
        //   padding: 7px;
        // font-size: 1.5rem;
        // color: #053463;
        // padding-right: 8px;
        padding: 7px;
        font-size: 1.5rem;
        color: #0c5460;
        padding-right: 8px;
        width: 40px;
        text-align: center;
        align-items: center;
        }
        input[type="text"] {
          background: transparent;
          border: 0;
          // color: #fff;
        }
        input[type="number"]{
            border-radius: 0px 0px 0px 19px;
        width: 50%;
        padding: 6px;
        margin-right: 0;
        padding-left: 18px;
        }
        div{
            width: 37%;
    background: #ebe9e9;
    padding: 7px;
    margin: 0;
    display: block;
    border-radius: 0 32px 32px 0;
    border: 0;
    text-align: center;
    letter-spacing: 3px;
        }
    }
.input-sec {
    width: 100%;
    padding: 0px 0px 0px 2px;
    outline: none;
    border-radius: 51px;
    background: #fff;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    border: 1px solid #ccc;
    i {
      padding: 7px;
    font-size: 1.5rem;
    color: #053463;
    padding-right: 8px;
    }
    input[type="text"] {
      background: transparent;
      border: 0;
      // color: #fff;
      padding-left: 18px;
    }
    input[type="number"]{
        border-radius: 0px 50px 50px;
    width: 100%;
    padding: 6px;
    margin-right: 0;
    padding-left: 18px;
    }
  }
  select{
       background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat 95%;
    -webkit-appearance: none;
    border-radius: 0px 50px 50px;
    width: 100%;
    padding: 6px;
    margin-right: 0;
}
label.input-label {
    margin: 0;
    padding-left: 3px;
    color: #cc0369;
}
}
.swiper-container-horizontal>.swiper-pagination-bullets{
    top: 30px !important;
    right: 15px !important;
    width: 20px !important;
    bottom: auto;
    left: auto;

}
.swiper-pagination-bullet-active{
    background: #ffc107 !important;
}

  .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 100%;
    background: transparent;
    opacity: 1;
    border: 1.2px solid #fff;
}
.invalid-feedback-error{
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}