<!-- <ion-header>
  <ion-toolbar>
    <ion-title>choice-gender</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->
<div class="back-menu" routerLink="/choice" routerDirection="root">
  <img src="../../../assets/icon/back-arrow.svg" />
</div>
<div class="row no-margin main-container full-height">
  <div class="col-12">
    <div class="option-select">
        <img src="../../assets/images/user.png" routerLink="/ads/Male" routerDirection="root"/>
        <div class="check"></div>
    </div>
  </div>
  <div class="col-12">
      <div class="option-select">
          <img src="../../assets/images/female.png" routerLink="/ads/Female" routerDirection="root"/>
      </div>
  </div>
  <div class="col-12">
    <div class="option-select">
        <img src="../../assets/images/user.png" routerLink="/ads/Any" routerDirection="root"/>
        <div class="check"></div>
    </div>
  </div>
  <div class="col-12">
    <div class="option-select">
        <img src="../../assets/images/user.png" routerLink="/map" routerDirection="root"/>
        <div class="check"></div>
    </div>
  </div>
</div>